.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .galleryContainer {
    grid-template-columns: 1fr;
  }
}

.galleryItem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.wrapperOptions {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.option {
  font-family: 'Merriweather', serif;
  color: rgb(131, 91, 32);
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.option.selected {
  color: rgb(61, 42, 10);;
}

.galleryContainer video {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.galleryVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 768px) {
  .galleryVideo {
    max-width: 100%;
    height: auto;
  }
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0px;
}

.modalContent {
  position: relative;
}

@media (max-width: 768px) {
  .modalContent img {
    width: 85%;
    padding-left: .9rem;
  }
}




/* video */

.videoContainer {
  /* position: relative; */
  display: inline-block;
  width: 100%;
  max-width: 600px; /* Cambia según tu diseño */
}

.galleryVideo {
  width: 100%;
  height: auto;
  display: block;
}

.controls {
  /* position: absolute; */
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 6, 6, 0.788);
  padding: 10px;
}

.controlButton {
  font-size: 16px;
  color: white;
  background: none;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.controlButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
