.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.galleryItem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

@media (max-width: 768px) {
  .galleryContainer {
    grid-template-columns: 1fr;
  }
}


/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0px;
}

.modalContent {
  position: relative;
}

@media (max-width: 768px) {
  .modalContent img {
    width: 85%;
    padding-left: .9rem;
  }
}