.mapContainer {
    display: flex;
    justify-content: center;
    width: 100%; /* Asegúrate de ocupar todo el ancho */
    margin: 0 auto;
    overflow: hidden; /* Previene scroll no deseado */
}

.ubicacionWrapper {
    width: 100%;
    max-width: 100%; /* Evita restricciones de tamaño */
    height: 60vh; /* Mantiene una altura razonable */
    border-radius: 4px;
    border: none;
    overflow: hidden;
}

iframe {
    width: 100%; /* Ocupa el ancho total */
    height: 100%; /* Ajusta la altura al contenedor */
    border: none;
}

.ubicacionAncore {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 20px;
    color: rgb(48, 43, 43);
    text-transform: uppercase;
}

@media (max-width: 540px) {
    .mapContainer {
        width: 320%;
    }

    .ubicacionAncore {
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    .mapContainer {
        margin-left: -280px;
    }
}

@media (max-width: 360px) {
    .ubicacionWrapper {
        margin-left: -1.8rem;
    }
}

@media (max-width: 344px) {
    .mapContainer {
        margin-left: -340px;
    }
}