.wrapperSectionTitle {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.sectionTitle {
    font-size: 2rem;
    color: #b8860b;
}

.wrapperReservas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperReservasText {
    width: 30%;
}

.reservaText {
    color: rgb(8, 7, 5);
    letter-spacing: 3px;
    font-size: 20px;
    text-align: justify;
}

.wrapperReservasLogo img {
    width: 500px;
    height: 500px;
}

/* MOBILE */
@media (max-width: 788px) {

    .sectionTitle {
        font-size: 12px;
    }

    .wrapperReservas {
      flex-direction: column;
      align-items: center;
    }
  
    .wrapperReservasText {
      width: 80%;
    }
  
    .wrapperReservasLogo img {
      width: 250px;
      height: auto;
      padding-left: 0;
    }
  
    .reservaText {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
  
  /* Pantallas muy pequeñas */
  @media (max-width: 390px) {
    .wrapperReservasText {
      width: 90%; /* Más espacio al texto en pantallas pequeñas */
    }
  }