.wrapperSectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}


.sectionTitle {
  font-size: 2.5rem;
  text-align: center;
  color: #b8860b;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.wrapperReservas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperReservasText {
    width: 30%;
}

.reservaText {
    color: rgb(8, 7, 5);
    letter-spacing: 3px;
    font-size: 20px;
    text-align: justify;
}

.wrapperReservasLogo img {
    width: 500px;
    height: 500px;
}

/* MOBILE */
@media (max-width: 788px) {

  .wrapperSectionTitle {
    padding-top: 2rem;
  }

  .sectionTitle {
      font-size: 1.8rem;
      line-height: 1.2;
  }

  .wrapperReservas {
      flex-direction: column;
      align-items: center;
  }

  .wrapperReservasText {
      width: 90%;
  }

  .wrapperReservasLogo img {
      width: 300px;
      height: auto;
      padding-left: 0;
  }

  .reservaText {
      font-size: 1rem;
      letter-spacing: 0.5px;
  }
}

  
  /* Pantallas muy pequeñas */
  @media (max-width: 390px) {
    .wrapperReservasText {
      width: 90%;
    }
  }