.mainContentFooter {
    margin-left: 240px;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .mainContentFooter {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin: 0 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

}