

.app {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
}

  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .app {
        max-width: 92%;
        margin: 0 1rem;
        padding: 0 1rem;
        display: flex;
        justify-content: start;
    }

}