

.app {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    border-top: 1px solid rgb(177, 172, 172);
    margin-right: 1rem;
}

  /* Media query para dispositivos móviles */
  @media (max-width: 788px) {
    .app {
        max-width: 92%;
        margin: 0 1rem;
        padding: 0 1rem;
        display: flex;
        justify-content: start;
        border-top: none;
        
    }

}